<ion-view view-title="About">
    <ion-content scroll="false">
        <div class="card">
            <div class="item item-text-wrap">
                <p>iStream IT V2.0 is a improved and responsive little webradio player which play your MP3, AAC/AAC+, Shoutcast audio live streams.</p>
                <p>&nbsp;</p>
<p>For format pls, m3u and other stream, please see help section for more details.</p>

            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <h3>For Comments & Feedbacks</h3>
                <h3>Send an email to <a href="mailto:info@inepali.net">info@inepali.net</a></h3>
            </div>
        </div>
    </ion-content>
</ion-view>